* {
    box-sizing: border-box;
}

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
}

#content, footer {
    padding: 0;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
}

.game-content .status {
    flex-grow: 1;
    max-width: 250px;
    height: 100vh;
    border-right: 1px solid #d1d1d1;
}

#game-logo {
    display: flex; /* temp css until image or svg logo is implemented */
    justify-content: center; /* temp css until image or svg logo is implemented */
    align-items: center; /* temp css until image or svg logo is implemented */
    background-color: #e1e1e1;
    width: 100%;
    height: 100px;
}

#game-logo h1 {
    margin: 0;
}

#side-content {
    padding: 0 20px;
}

#side-content .heading {
    margin: 10px -20px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #f3f3f3;
}

#side-content .heading:first-of-type {
    margin-top: 0;
}

.game-wrapper {
    flex-grow: 3;
    height: 100%;
}

.game-content #tabs {
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 300px;
}

.ui-progressbar {
    width: 200px;
    height: 20px;
    padding: 0px;
    display: inline-block;
}

.ui-progressbar-value {
    background-color: #007fff;
}

.progressText {
    color: black;
    float:left;
    text-align:left;
    padding-left: 5px;
    width:100%;
}

.hidden {
    display:none;
}

#c1pbLabel,#c2pbLabel,#c3pbLabel {
    width: 100%;
    float: left;
    line-height: 200%;
    padding: 0px;
    line-height: 20px;
    padding-left: 2px;
}

.ui-tabs .ui-corner-all .ui-widget .ui-widget-content {
    padding-bottom: 100px;
}

.ui-tabs, .ui-tabs .ui-tabs-nav {
    padding: 0;
    border-radius: 0;
    border-left: 1px solid transparent;
}

.ui-tabs .ui-tabs-nav li {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.ui-widget.ui-widget-content, .ui-widget-content {
    border: none;
}

.ui-progressbar.ui-widget.ui-widget-content {
    background-color: #f3f3f3;
    border: 1px solid #d1d1d1;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: calc(100% - 250px);
    height: 50px;
    background-color: #fff;
    border-top: 1px solid #e1e1e1;
}

#bottom-left, #bottom-right {
    height: inherit;
}

footer a {
    display: inline-block;
    height: 100%;
    padding: 15px;
    color: #000;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

footer a:hover {
    background-color: #e9e9e9;
}

#clearSave, #exportSave, #importSave {
    position: relative;
}

#clearSave {
    color: #c90000;
}

#clearSave:hover {
    background-color: #c90000;
    color: #fff;
}

.tooltip:hover:before {
    display: inline-block;
    position: absolute;
    margin-top: -25px;
    right: 50%;
    margin-right: -6px;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: black;
    transform: rotate(180deg);
    animation: fade-in 0.5s;
}

.tooltip:hover:after {
    display: inline-block;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    margin-top: -2px;
    content: attr(aria-label);
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: .8rem;
    text-align: center;
    word-wrap: break-word;
    padding: 5px 8px;
    animation: fade-in 0.5s; 
}

footer a[href*="discord.gg"]:hover {
    background-color: #7289DA;
    color: #fff;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
