* {
    box-sizing: border-box;
    outline: 0;
}

@media screen and (max-width: 1100px) {
    * {
        padding: 0;
        margin: 0;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--theme-scroll-thumb);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--theme-scroll-track);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* LIGHT AND DARK MODE */

:root {
    --theme-bg: #fff;
    --theme-bg-2: #f3f3f3;
    --theme-bg-3: #f9f7f7;
    --theme-border: #d1d1d1;
    --theme-border-2: #adadad;
    --theme-text: #000;
    --theme-text-2: #fff;
    --theme-text-3: #909090;
    --theme-link: #218cff;
    --theme-scroll-thumb: rgba(0,0,0,0.10);
    --theme-scroll-track: rgba(0,0,0,0.10);
    --theme-progressbar: #218cff;
    --theme-scheme: linear-gradient(-40deg, #0fb898 0%, #1fdb96 51%, #2ce891 75%);
}

.lm-btn, .dm-btn {
    width: 100%;
    height: 50px;
    border: none;
    border-top: 1px solid var(--theme-border);
    background-color: var(--theme-bg);
    color: var(--theme-text);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.lm-btn:hover, .dm-btn:hover {
    background-color: var(--theme-bg-2);
}

.lm-btn {
    display: none;
}

/**/

body{
    color: var(--theme-text);
    background-color: var(--theme-bg-2);
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
}

#Actions>h1, .heading, .tab-heading, .lm-btn, .dm-btn, footer, .Worker .BuyWorker, .Upgrade .BuyUpgrade, .Worker .jobDisable, .upgradeName, .upgradeDesc, #progresslist, #upgradelist, #workerList {
    font-family: 'Open Sans', sans-serif; /*font test*/
    font-weight: normal;
}

#content, footer {
    padding: 0;
    user-select: none;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
}

.game-content .status, #right-side-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: var(--theme-bg);
}

.game-content .status {
    border-right: 1px solid var(--theme-border);
}

#game-logo {
    background-color: var(--theme-bg);
    background-image: url('images/site-logo.png');
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

#game-logo h1 {
    margin: 0;
    font-size: 0;
}

#side-content {
    flex-grow: 1;
    padding: 0 20px;
}

#side-content .heading {
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
    color: var(--theme-text);
    border-bottom: 2px solid var(--theme-border);
}

#side-content .heading:first-of-type {
    margin-top: 0;
}

.resource {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px;
    background-color: var(--theme-bg-3);
    border: 1px solid var(--theme-border);
    border-radius: 25px;
}

#right-side-content {
    border-left: 1px solid var(--theme-border);
    height: calc(100vh - 50px);
    overflow-y: auto;
}

#right-side-content .heading {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

#sellPref {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 10px 10px;
    min-height: 30px;
}

#sellPref>p {
    margin: 0 0 5px 0;
    width: 100%;
    font-weight: bold;
}

#sell1, #sell10, #sellAll {
    background-color: var(--theme-bg-2);
    border: 1px solid var(--theme-border);
    padding: 3px 5px;
    margin: 0 3px;
    flex-grow: 1;
    cursor: pointer;
}

#sell1.itemSellPrefSelected, #sell10.itemSellPrefSelected, #sellAll.itemSellPrefSelected {
    background: var(--theme-scheme);
    color: var(--theme-text-2);
}

.inventoryItem {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--theme-border);
}

.inventoryItem:first-of-type {
    border-top: 1px solid var(--theme-border);
}

.inventoryItem>img {
    display: inline-block;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.inventoryItem a {
    flex-grow: 1;
    color: var(--theme-text);
    font-size: 14px;
    text-decoration: none;
    padding: 10px 60px 10px 30px;
}

.inventoryItem a:hover {
    background-color: var(--theme-bg-2);
}

.inventoryItem .inventoryCount {
    position: absolute;
    right: 10px;
    font-size: .9em;
    line-height: 25px;
    width: 50px;
    background-color: var(--theme-bg-3);
    border: 1px solid var(--theme-border);
    pointer-events: none;
}

#inventory .inventoryCount {
    text-align: center;
}

.game-wrapper {
    flex-grow: 1;
    height: 100%;
    max-width: calc(100% - 500px);
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.game-content #tabs {
    max-height: calc(100vh - 50px);
}

.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 300px;
}

.ui-progressbar {
    width: 200px;
    height: 20px;
    padding: 0px;
    display: inline-block;
}

.ui-progressbar-value {
    background-color: #007fff;
}

.progressText {
    color: black;
    float:left;
    text-align:left;
    padding-left: 5px;
    width:100%;
}

.pbLabel {
    width: 100%;
    float: left;
    line-height: 200%;
    padding: 0px;
    line-height: 20px;
    padding-left: 2px;
}

.ui-tabs .ui-tabs-panel {
    color: var(--theme-text);
    padding: 0;
}

.ui-widget-content a {
    color: var(--theme-text);
    text-decoration: none;
}

.ui-tabs .ui-corner-all .ui-widget .ui-widget-content {
    padding-bottom: 100px;
}

.ui-tabs, .ui-tabs .ui-tabs-nav {
    padding: 0;
    border-radius: 0;
    border: 1px solid var(--theme-border);
    border-left: none;
    border-right: 1px solid transparent;
    background-color: var(--theme-bg);
}

.ui-tabs .ui-tabs-nav li {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
    color: var(--theme-text-3);
}

.ui-tabs-nav li a:hover {
    background-color: var(--theme-bg-2);
    color: var(--theme-text);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active  {
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: var(--theme-link);
    color: var(--theme-text-2);
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: var(--theme-bg);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: var(--theme-text);
}

.ui-widget.ui-widget-content, .ui-widget-content {
    background-color: var(--theme-bg-2);
    border: none;
}

.ui-progressbar.ui-widget.ui-widget-content {
    background-color: var(--theme-bg-3);
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

.ui-dialog {
    border: 1px solid var(--theme-border)!important;
    background-color: var(--theme-bg-2)!important;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

#Actions>h1 {
    margin: 10px 0;
    padding: 0 20px;
}

#ActionSlots {
    padding: 10px 20px 0;
    width: 100%;
    max-width: 1200px;
}

#ASTable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.ASBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid var(--theme-border);
    margin: 0 4px 10px 0;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
}

.ASProgressBar, .plProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    height: 23px;
    margin: 0;
}

.plProgressBar {
    background-color: var(--theme-bg-2);
}

.ASProgressBar:before {
    content: " " attr(data-label);
    position: absolute;
    white-space: pre;
}

.ProgressBarFill, .plProgressBarPercent {
    display: block;
    position: relative;
    height: 100%;
    z-index: -1;
    background-color: var(--theme-progressbar);
}

.plProgressBarPercent {
    z-index: 1;
}

.ASType {
    text-align: center;
    background-color: var(--theme-bg-3);
    border-bottom: 1px solid var(--theme-border);
    padding: 5px 20px;
}

.ASName {
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    background-color: var(--theme-bg);
    border-bottom: 1px solid var(--theme-border);
}

.ASName img {
    vertical-align: middle;
    margin-bottom: 2px;
}

.ASCancel {
    position: absolute;
    top: 0;
    right: 0;
}

.ASCancel a {
    display: block;
    padding: 5px 5px;
    color: var(--theme-text);
    text-decoration: none;
    background-color: var(--theme-bg-3);
}

.ASCancel a:hover {
    background-color: var(--theme-bg-2);
}

.pbLabel {
    padding: 3px 14px;
    color: var(--theme-text);
}

.tab-heading {
    text-align: center;
    text-transform: uppercase;
}

.ui-widget-header {
    border: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0;
}

.ui-dialog .ui-dialog-content {
    color: var(--theme-text);
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    color: var(--theme-text-3);
    border-radius: 3px;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
    color: var(--theme-text);
}

.ui-draggable .ui-dialog-titlebar {
    background-color: var(--theme-bg);
    color: var(--theme-text-3);
}

input#importSaveText {
    background-color: var(--theme-bg-3);
    border: 1px solid var(--theme-border);
    color: var(--theme-text);
}

#RecipeFilter {
    display: flex;
    background-color: var(--theme-bg);
    padding: 0 25px 0 0;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid var(--theme-border);
    border-bottom: 1px solid var(--theme-border);
}

#RecipeFilter a.recipeSelect {
    color: var(--theme-text);
    padding: 0 15px 0 3px;
    height: 100%;
    width: 100%;
    max-width: 40px;
    overflow: hidden;
    border-right: 1px solid var(--theme-border);
}

#RecipeFilter a.recipeSelect.selected {
    width: auto;
    max-width: 100%;
    background-color: var(--theme-link);
    color: var(--theme-text-2);
}

#RecipeFilter a.recipeSelect:first-of-type {
    margin-left: 0;
}

#RecipeFilter a.recipeSelect:hover {
    background-color: var(--theme-link);
    color: var(--theme-text-2);
}

#RecipeFilter a[href*="Selector"]:before {
    display: inline-block;
    position: relative;
    content: "";
    margin-right: 5px;
    margin-bottom: 2px;
    width: 32px;
    height: 32px;
    background-image: url('images/userpics/nopic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    vertical-align: middle;
}

#RecipeFilter a[href="KnifeSelector"]:before {
    background-image: url('PixelAbqu/Knife32.png');
}

#RecipeFilter a[href="MaceSelector"]:before {
   background-image: url('PixelAbqu/Club32.png');
}

#RecipeFilter a[href="GloveSelector"]:before {
    background-image: url('PixelAbqu/glove32.png');
}

#RecipeFilter a[href="PotionSelector"]:before {
    background-image: url('PixelAbqu/Potion32.png');
}

#RecipeFilter a[href="AxeSelector"]:before {
    background-image: url('PixelAbqu/Axe32.png');
}

#RecipeFilter a[href="HatSelector"]:before {
    background-image: url('PixelAbqu/Hat32.png');
}

#RecipeFilter a[href="WandSelector"]:before {
    background-image: url('PixelAbqu/Wand32.png');
}

#RecipeFilter a[href="GauntletSelector"]:before {
    background-image: url('PixelAbqu/Gauntlets32.png');
}

#RecipeFilter a[href="HelmetSelector"]:before {
    background-image: url('PixelAbqu/helmet32.png');
}

#RecipeFilter a[href="ShoeSelector"]:before {
    background-image: url('PixelAbqu/Shoes32.png');
}

#RecipeFilter a[href="WardSelector"]:before {
    background-image: url('PixelAbqu/Ward32.png');
}

#RecipeFilter a[href="ShieldSelector"]:before {
    background-image: url('PixelAbqu/Shield32.png');
}

#RecipeFilter a[href="CloakSelector"]:before {
    background-image: url('PixelAbqu/Cloak32.png');
}

#RecipeFilter a[href="ArmorSelector"]:before {
    background-image: url('PixelAbqu/Armor32.png');
}

#RecipeFilter a[href="PendantSelector"]:before {
    background-image: url('PixelAbqu/Pendant32.png');
}

.recipeTable, .jobTable {
    width: 100%;
}

.recipeHeader, .jobHeader {
    background-color: var(--theme-bg);
    height: 40px;
    border-bottom: 1px solid var(--theme-border);
    font-weight: bold;
}

.recipeHeader, .recipeRow, .jobHeader, .jobRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.recipeRow:nth-of-type(odd), .jobRow:nth-of-type(odd) {
    background-color: var(--theme-bg);
}

.recipeRow:hover, .jobRow:hover {
    background-color: var(--theme-border);
}

.recipeHeadName, .recipeName {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    padding-left: 10px;
}

.recipeHeadName {
    padding-left: 15px;
}

.recipeName>img {
    max-height: 16px;
    margin-left: 5px;
}

.recipeName>a {
    flex-grow: 1;
    padding: 10px 5px;
}

.unlockReq>p {
    padding: 15px 10px;
    background-color: var(--theme-bg);
    border-top: 1px solid var(--theme-border);
    border-bottom: 1px solid var(--theme-border);
}

.unlockReq>p:before {
    display: inline-block;
    position: relative;
    content: "?";
    font-weight: bold;
    color: var(--theme-text);
    margin-right: 10px;
    margin-left: 5px;
}

.recipeHeadCost, .recipeHeadTime, .recipeHeadCount, .recipeHeadValue, .recipecostdiv, .recipeTime, .recipeCount, .recipeValue, .jobHeadWorker, .jobHeadName, .jobHeadTime, .jobHeadValue, .jobWorker, .jobName, .jobTime, .jobValue {
    padding: 0 10px;
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}

.recipecostdiv {
    display: flex;
    flex-wrap: wrap;
}

.recipeCost {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    min-width: 50px;
    text-align: left;
}

#workerList, #joblist, #upgradelist {
    display: flex;
    flex-wrap: wrap;
}

#workerList, #upgradelist, #progresslist {
    padding: 20px;
}

.Worker, .Upgrade {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    margin: 0 15px 10px 0;
    padding: 15px 15px 50px;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.WorkerImage, .WorkerName, .upgradeName, .upgradeDesc{
    text-align: center;
}

.upgradeName, .upgradeLvl, .upgradeCost, .upgradeText, .WorkerDesc, .workerLvl, .InitialCost {
    font-size: .9em;
}

.upgradeDesc {
    flex-grow: 1;
    font-size: .9em;
    color: var(--theme-text-3);
    margin-bottom: 10px;
}

.WorkerDesc {
    color: var(--theme-text-3);
    text-align: center;
    flex-grow: 1;
    max-height: 60px;
}

.WorkerDesc>em {
    color: var(--theme-text);
    font-style: normal;
}

.WorkerName>h3 {
    margin: 0 0 10px 0;
}

.workerLvl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: var(--theme-scheme);
    color: var(--theme-text-2);
    border: 1px solid var(--theme-border);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

.Worker .itemSac {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.Worker .itemSac:before {
    display: block;
    position: absolute;
    top: -30px;
    content: "Required Contributions";
    padding-bottom: 3px;
    color: var(--theme-text-3);
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid var(--theme-border);
}

.itemToSacDiv {
    position: relative;
    min-width: 20%;
    margin: 0 2px;
}

.Worker .itemToSac {
    display: inline-block;
    text-align: center;
    background-color: var(--theme-bg-3);
    border: 1px solid var(--theme-border);
    margin-bottom: 5px;
    padding: 10px;
    font-size: .9em;
    width: 100%;
}

.Worker .BuyWorker, .Upgrade .BuyUpgrade, .Worker .HireWorker, .Worker .jobDisable {
    display: block;
    padding: 10px;
    border: none;
    background-color: var(--theme-bg-3);
    border-top: 1px solid var(--theme-border);
    color: var(--theme-text);
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

.Upgrade .BuyUpgrade {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 0 0 0;
    width: 100%;
}

.Worker .jobDisable {
    background-color: rgba(255, 174, 0, 0.1);
    color: #c99a00;
    cursor: not-allowed;
}

.Worker .BuyWorker {
    border-left: 1px solid var(--theme-border);
}

.Worker .BuyWorker>img {
    margin-bottom: -2px;
    margin-right: 1px;
}

.Worker .BuyWorker:hover, .Upgrade .BuyUpgrade:hover, .Worker .HireWorker:hover {
    background-color: var(--theme-bg-2);
}

.BuyWorker.workerDisable, .BuyUpgrade.upgradeDisable {
    color: #c90000;
    background-color: rgba(255, 0, 0, 0.10);
}

.BuyWorker.workerDisable:hover, .BuyUpgrade.upgradeDisable:hover {
    color: #c90000;
    background-color: rgba(255, 0, 0, 0.10);
    cursor: not-allowed;
}

.workerButtons {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.workerButtons>button {
    position: relative;
    flex-grow: 1;
    min-width: 50%;
}

.jobHeadWorker {
    padding-left: 15px;
}

.jobWorker {
    display: flex;
    margin-left: 5px;
}

.jobWorker>a {
    flex-grow: 1;
    padding: 10px 0;
}

.jobRow.jobDisable {
    padding: 10px 0;
    color: #c99a00;
    background-color: rgba(255, 174, 0, 0.1);
    cursor: not-allowed;
    user-select: none;
}

#progresslist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#progress_container {
    display: flex;
    flex-wrap: wrap;
}

#progress_container>h3 {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
}

#progress_container>div>h2 {
    font-size: 1em;
    margin-bottom: 0;
}

.progress-desc {
    font-size: .9em;
    color: var(--theme-text-3);
    flex-grow: 1;
}

.progressRecipe, .progressWorker, .progressUpgrade, .progressOverall {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    min-width: 250px;
    max-width: 250px;
    margin: 0 15px 10px 0;
    padding: 15px 15px 30px 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

#progresslist .plProgressBar {
    display: block;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--theme-border)!important;
    width: 100%;
    margin: 0 -15px;
}

#gameTime, #completeTime {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: .9em;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

#completeTime {
    background: var(--theme-scheme);
    color: var(--theme-text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#achievements>h3 {
    width: 100%;
}

#achievements .ProgressCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    min-width: 125px;
    min-height: 100px;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 0;
    width: calc(100% - 250px);
    height: 50px;
    font-size: 14px;
    background-color: var(--theme-bg);
    border-top: 1px solid var(--theme-border);
    z-index: 999;
}

#bottom-left, #bottom-right {
    height: inherit;
}

footer a {
    display: inline-block;
    height: 100%;
    padding: 15px;
    color: var(--theme-text);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

footer a:hover {
    background-color: var(--theme-bg-2);
}

#clearSave, #exportSave, #importSave {
    position: relative;
}

#clearSave {
    color: #c90000;
}

#clearSave:hover {
    background-color: #c90000;
    color: #fff;
}

span#copyme {
    display: block;
    max-width: 220px;
    max-height: 30px;
    word-wrap: break-word;
}

.tooltip:hover:before {
    display: inline-block;
    position: absolute;
    margin-top: -25px;
    right: 50%;
    margin-right: -6px;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: black;
    transform: rotate(180deg);
    animation: fade-in 0.3s;
    pointer-events: none;
}

.tooltip:hover:after {
    display: inline-block;
    position: absolute;
    top: -100%;
    left: -100%;
    right: -100%;
    margin-top: -4px;
    content: attr(aria-label);
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: .75rem;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    padding: 5px 8px;
    animation: fade-in 0.3s; 
    pointer-events: none;
}

.inventoryItem a.tooltip:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    border-radius: 0;
    z-index: 2;
}

.inventoryItem a.tooltip:hover:before {
    display: none;
}

.itemToSacDiv a.tooltip:hover:after {
    left: -100%;
    right: -100%;
    top: unset;
    bottom: 120%;
    z-index: 2;
}

.itemToSacDiv a.tooltip:hover:before {
    left: unset;
    right: unset;
}

.recipeCost.tooltip:hover:after {
    margin-top: -15px;
    bottom: 150%;
    top: unset;
}
.recipeCost.tooltip:hover:before {
    margin-top: -10px;
    margin-right: -12px;
}

.resource.tooltip:hover:before {
    margin-top: -18px;
    right: unset;
    left: unset;
    margin-right: 0;
}

.resource.tooltip:hover:after {
    top: unset;
    bottom: 130%;
    left: 0;
    right: 0;
    width: 50px;
    margin-top: 0;
    padding: 5px 10px;
}

.workerLvl.tooltip:hover:before {
    margin-top: -28px;
    margin-right: -8px;
}

.workerLvl.tooltip:hover:after {
    font-weight: normal;
    top: unset;
    left: -40%;
    right: -40%;
    bottom: 120%;
    margin-left: -5px;
    margin-right: -5px;
    z-index: 999;
}

.BuyWorker.tooltip:hover:after {
    top: unset;
    left: -50%;
    right: -50%;
    bottom: 135%;
    max-width: 200px;
    width: 100vw;
    margin: 0 auto;
}

.jobDisable.tooltip:hover:after {
    top: unset;
    left: -50%;
    right: -50%;
    bottom: 135%;
    max-width: 100px;
    width: 100vw;
    margin: 0 auto;
}

.ProgressCard.tooltip:hover:after {
    top: unset;
    left: -10%;
    right: -10%;
    bottom: 115%;
}


#version-scale {
    display: inline-block;
    padding: 0 15px;
}

footer a[href*="discord.gg"]:hover {
    background-color: #7289DA;
    color: #fff;
}

/* Firefox-Specific Fixes */
@-moz-document url-prefix() { 
    .resource.tooltip:hover:before {
        margin-top: -37px;
    }

    .workerLvl.tooltip:hover::before {
        margin-top: -53px;
    }
  }
/**/

/* Playfab Dialog */

#pfLoginRegister>form>div>h2 {
    margin: 10px 0 3px 0;
    font-size: 1em;
    font-weight: normal;
}

#pfEmail>input, #pfPassword>input {
    width: 100%;
    padding: 10px 3px;
    background-color: var(--theme-bg-2);
    color: var(--theme-text);
    border: none;
    border: 1px solid var(--theme-border);
    border-radius: 0;
    transition: all 0.2s linear;
}

#pfEmail:after, #pfPassword:after {
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--theme-border-2);
    transition: all 0.2s linear;
}

#pfEmail:hover:after, #pfPassword:hover:after {
    width: 100%;
}

#pfButtons, #pfImportExport {
    display: flex;
    justify-content: center;
}

#pfButtons>input, #pfImportExport>input, #pfLoadButtons>input {
    margin-top: 10px;
    padding: 10px 25px;
    flex-grow: 1;
    text-transform: uppercase;
    background-color: var(--theme-bg-3);
    color: var(--theme-text);
    border: 1px solid var(--theme-border);
    border-radius: 0;
    cursor: pointer;
    transition: all 0.2s linear;
    appearance: none;
    -webkit-appearance: none;
}

#pfButtons>input:hover, #pfImportExport>input:hover, #pfLoadButtons>input:hover {
    background-color: var(--theme-bg-2);
}

#pfButtons>input:first-of-type, #pfImportExport>input:first-of-type {
    margin-right: 10px;
}

#pfImportExport {
    flex-wrap: wrap;
}

#pfSaveStatus {
    width: 100%;
}

/**/

/* Flex Tables */

#flex-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid var(--theme-border);
    text-align: center;
}

#flex-table .table-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#flex-table .table-row:nth-of-type(odd) {
    background-color: var(--theme-bg-2);
}

#flex-table .table-row.header-row {
    background: var(--theme-scheme);
    color: var(--theme-text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-weight: bold;
}

#flex-table .table-row>div {
    flex-grow: 1;
    max-width: 50%;
    padding: 3px 5px;
}

/**/

/* Dialogs */

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
    z-index: 9999;
}

a.workerDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: var(--theme-link);
    color: var(--theme-text-2);
    border: 1px solid var(--theme-border);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

.dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.dialog_content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 400px;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-border);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
}

.dialog_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.dialog_close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: -2px 0 0 0;
    padding: 5px 15px;
    color: var(--theme-text-2);
    font-size: 32px;
    text-decoration: none;
    z-index: 2;
}

.dialog_title {
    margin: 0;
    padding: 10px 50px 10px 20px;
    background: var(--theme-scheme);
    color: var(--theme-text-2);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.dialog_body {
    padding: 20px;
    max-height: 100%;
    overflow: auto;
}

.dialog_description {
    margin: 40px 0 15px 0;
    text-align: center;
}

.dialog_description>em {
    font-style: normal;
    font-weight: bold;
}

/**/

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Hide content while retaining the content's effects on elements, such as, its width and height. */
.hidden {
    visibility: hidden;
}

/* Hide content completely, removing both the content and its effect on elements */
.none {
    display: none;
}

@media screen and (max-width: 1100px) {
    .game-content {
        flex-direction: column;
    }

    .game-content .status, #right-side-content {
        width: 100%;
        height: auto;
    }

    .game-content .status {
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
        z-index: 2;
    }

    #theme-selection {
        position: absolute;
        top: 0;
        right: 15px;
    }

    .lm-btn, .dm-btn {
        border-top: none;
    }

    #right-side-content {
        margin-bottom: 50px;
        box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.10);
        z-index: 2;
    }

    #game-logo {
        height: 32px;
        background-position: 15px center;
        background-size: contain;
        margin: 10px 0;
    }

    #side-content {
        display: flex;
        text-align: center;
        padding: 10px;
        overflow: auto;
        max-height: 100px;
        border-top: 1px solid var(--theme-border);
    }

    #side-content .tooltip:hover:after, #side-content .tooltip:hover:before {
        display: none;
    }

    #side-content .heading {
        display: none;
    }

    #side-content>div {
        margin: 0 5px;
    }

    #side-content .resource {
        margin: 0 5px;
    }

    #herbResource {
        position: relative;
    }

    #herbResource:after {
        position: absolute;
        display: inline-block;
        top: 0;
        right: -20px;
        bottom: 0;
        content: "";
        background: transparent;
        width: 1px;
        pointer-events: none;
    }

    .game-content .game-wrapper {
        max-width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--theme-border);
    }

    #Actions>h1 {
        margin: 15px 0 0;
    }

    #workerList, #joblist, #upgradelist, #progress_container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        margin-right: 20px;
    }

    .Worker, .Upgrade, .progressRecipe, .progressWorker, .progressUpgrade, .progressOverall {
        margin: 10px;
    }

    #progress_container>h3 {
        display: none;
        text-align: center;
    }

    #gameTime, #completeTime {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100%;
        min-width: 250px;
    }

    #ASTable::-webkit-scrollbar, .ui-tabs-nav::-webkit-scrollbar, #RecipeFilter::-webkit-scrollbar, #side-content::-webkit-scrollbar, #workerList::-webkit-scrollbar, #joblist::-webkit-scrollbar, #upgradelist::-webkit-scrollbar, #progress_container::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    #ASTable {
        flex-wrap: nowrap;
        justify-content: flex-start;
        position: relative;
        overflow-x: auto;
        margin: 0;
    }

    .ui-tabs-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        display: flex;
        padding: 10px 12px;
    }

    #RecipeFilter {
        padding: 0;
        overflow: auto;
    }

    #RecipeFilter a.recipeSelect,  #RecipeFilter a.recipeSelect.selected {
        min-width: 40px;
        max-width: 40px;
    }

    .recipeHeader {
        display: none;
    }
    
    .recipeRow {
        position: relative;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--theme-border);
    }
    
    .recipeName {
        display: flex;
        align-items: baseline;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .recipeName>img {
        margin-left: 10px;
    }
    
    .recipeName>a {
        flex-grow: unset;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        margin-left: -30px;
    }

    .recipeHeadCost, .recipeHeadTime, .recipeHeadCount, .recipeHeadValue, .recipecostdiv, .recipeTime, .recipeCount, .recipeValue {
        padding: 0;
        width: 100%;
        min-width: 100px;
        max-width: 120px;
        text-align: center;
    }
    
    .recipecostdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        max-width: 200px;
        margin-bottom: 5px;
        margin-left: 45%;
        margin: 10px 0 5px 45%;
    }

    .recipeCost.tooltip:hover:after {
        margin-top: -15px;
        right: 0;
        bottom: 150%;
        top: unset;
    }
    .recipeCost.tooltip:hover:before {
        margin-top: -10px;
        margin-right: -12px;
    }

    .recipeTime:before, .recipeCount:before, .recipeValue:before {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-top: 15px;
        margin: 10px 5px 10px 0;
        pointer-events: none;
    }

    .recipeTime:before {
        content: "Time:";
    }

    .recipeCount:before {
        content: "Count:";
    }

    .recipeValue:before {
        content: "Value:";
    }

    footer {
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 3;
    }

    footer .tooltip:hover:before, footer .tooltip:hover:after {
        display: none;
    }

    footer a {
        max-width: 65px;
        padding: 5px;
    }

    #bottom-left, #bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bottom-right a {
        display: none;
    }
}
