body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 300px;
}

.status {
    float: left;
    width: 10%;
}

#tabs {
    width: 75%;
    float: left;
}

.ui-progressbar {
    width: 200px;
    height: 20px;
    padding: 0px;
    display: inline-block;
}

.ui-progressbar-value {
    background-color: #007fff;
}

.progressText {
    color: black;
    float:left;
    text-align:left;
    padding-left: 5px;
    width:100%;
}

.hidden {
    display:none;
}

#c1pbLabel,#c2pbLabel,#c3pbLabel {
    width: 100%;
    float: left;
    line-height: 200%;
    padding: 0px;
    line-height: 20px;
    padding-left: 2px;
}


#bottom-left {
    left: 0;
    bottom: 0;
    position: absolute;
}

#bottom-right {
    right: 0;
    bottom: 0;
    position: absolute;
}