* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.expanded {
    max-height: 1000px!important;
}

body {
    background-color: var(--bg-2);
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-card .user-desc, .asset-card .asset-desc, .header .section-desc {
    font-family: 'Varela Round', "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header .section-heading {
    font-family: 'Roboto Slab', serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
}

.back-to {
    display: inline-block;
    padding: 15px 20px;
    color: var(--text);
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

.back-to:hover {
    background-color: var(--bg-2);
}

.back-to-top {
    position: fixed;
    z-index: 900;
    bottom: 2%;
    right: 1.5%;
    padding: 20px 25px;
    border-radius: 50%;
    background-color: var(--border-3);
    color: var(--text);
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    transform: scale(0);
    opacity: 0;
    animation: 0.5s 0.75s scale-in forwards;
}

.back-to-top:hover {
    color: var(--highlight);
}

.show-button {
    opacity: 1;
}

#wrapper {
    margin: 0 auto 50px;
    max-width: 1600px;
    text-align: center;
}

.header {
    animation: .75s scale-in;
}

.header .section-heading {
    margin: 35px 0 15px;
    font-size: 2.25em;
    font-weight: normal;
    text-transform: uppercase;
}

.header .section-desc {
    margin: 0 auto 20px;
    padding: 0 20px;
    width: 100%;
    max-width: 700px;
}

.version-heading {
    position: relative;
    margin: 10px auto;
    padding-bottom: 10px;
    font-weight: normal;
    border-bottom: 2px solid var(--border-2);
    width: 100%;
    max-width: 150px;
    cursor: pointer;
    opacity: 0;
    animation: 1s 0.75s fade-in forwards;
}

.heading-arrow {
    right: -30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

#cc-container .card-container {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.user-card, .player-card, .asset-card {
    margin: 10px;
    padding: 20px;
    max-width: 350px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.user-card .user-pic {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    background-color: var(--bg-2);
    border: 2px solid var(--border);
    transform: scale(0);
}

.user-card .user-name {
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.5em;
    opacity: 0;
}

.user-card .user-title {
    margin-top: 5px;
    font-weight: normal;
    font-size: 1em;
    color: var(--highlight);
    opacity: 0;
}

.user-card .user-desc:before, .asset-card .asset-desc:before{
    display: block;
    position: relative;
    content: "";
    margin: 0 auto;
    top: -11px;
    height: 2px;
    width: 75%;
    background-color: var(--border-2);
}

.user-card .user-desc {
    position: relative;
    color: var(--text-3);
    margin-top: 20px;
    padding: 0 10px;
    font-size: .85em;
    opacity: 0;
}

.external-link_inline {
    color: var(--text-3);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.external-link_inline:hover {
    color: var(--highlight);
}

.player-card {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 250px;
    text-align: left;
}

.player-card .player-pic {
    margin-right: 15px;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    background-color: var(--bg-2);
    border: 2px solid var(--border);
    transform: scale(0);
}

.player-card .player-name {
    font-weight: bold;
    font-size: 1em;
    opacity: 0;
}

.player-card .player-title {
    font-weight: normal;
    font-size: 0.8em;
    opacity: 0;
}

.asset-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
}

.asset-card .asset-pic {
    max-height: 200px;
}

.asset-card .asset-name {
    font-weight: normal;
    font-size: 1.5em;
}

.asset-card .asset-name, .asset-card .asset-desc {
    margin-top: 5px;
    padding: 0 20px;
}

.asset-card .asset-desc {
    margin-top: 20px;
    flex-grow: 1;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    color: var(--text-3);
}

.asset-card .asset-link {
    bottom: 0;
    display: block;
    background-color: var(--bg-2);
    border-top: 1px solid var(--border);
    margin-top: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    color: var(--text);
    transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

.asset-card .asset-link:hover {
    background-color: var(--bg-3);
}

/* ANIMATIONS AND KEYFRAMING */

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.user-card, .player-card, .asset-card {
    animation: .7s scale-in;
}

.user-pic, .player-pic {
    animation: .7s scale-in forwards;
    animation-delay: .2s;
}

.user-name, .user-title, .user-desc, .player-name, .player-title {
    animation: 0.7s fade-in forwards;
}

.user-name, .player-name {
    animation-delay: .4s;
}

.user-title, .player-title {
    animation-delay: .5s;
}

.user-desc {
    animation-delay: .6s;
}