* {
    box-sizing: border-box;
    outline: 0;
}

@media screen and (max-width: 1100px) {
    * {
        padding: 0;
        margin: 0;
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-track);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#ActionSlots, #ASTable, .ASBlock, .Worker .BuyWorker, .Upgrade .BuyUpgrade, .Worker .HireWorker, .Worker .jobDisable, .WorkerUpgrade, .TicketCard .buyTicket, .heroOwnedCard, .lm-btn, .dm-btn, .cp-btn, .cf-btn, .ui-tabs .ui-tabs-nav .ui-tabs-anchor, #RecipeFilter, #RecipeFilter a.recipeSelect, .recipeHeader, .recipeRow, .EHPEHeader, .EHPErow, .Worker, .Upgrade, .TicketCard, #right-side-content .heading, #sellPref, #sell1, #sell10, #sellAll, .inventoryItem a, .progressRecipe, .progressWorker, .progressUpgrade, .progressOverall, #gameTime, #completeTime, #achievements .ProgressCard, #progress_container>h3, #achievements>h3, #progresslist, #workerList, #upgradelist, #progresslist, #ticketShop, #heroCard, a.workerDialog, .dungeonTeamCard, .dungeonAvailableCard, .drHeroCard, .dungeonTeamCard, .dungeonAvailableCard, #dungeonTeamButton {
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.Worker, .ASBlock, .progressRecipe, .progressWorker, .progressUpgrade, .progressOverall, #gameTime, #completeTime, #achievements .ProgressCard, .bpShop {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/* LIGHT AND DARK MODE */

:root {
    --bg: #212325;
    --bg-2: #1a1d1f;
    --bg-3: #191b1d;
    --green-dark: #064a21;
    --green-light: #089e42;
    --blue-dark: #063a4a;
    --blue-light: #087d9e;
    --border: #2b2e31;
    --border-2: #adadad;
    --border-3: #3b3b3b;
    --highlight: #ffc100; 
    --text: #fff;
    --text-2: #fff;
    --text-3: #909090;
    --link: #191919;
    --scroll-thumb: rgba(255,255,255,0.10);
    --scroll-track: rgba(0,0,0,0.30);
    --progressbar: #1c95c5;
    --scheme: linear-gradient(to right, #0b7edc 0%,#1396f3 50%,#00adff 100%);
    --scheme-moz: -moz-linear-gradient(left, #0b7edc 0%, #1396f3 50%, #00adff 100%);
    --scheme-webkit: -webkit-linear-gradient(left, #0b7edc 0%,#1396f3 50%,#00adff 100%);
}

.lm-btn, .dm-btn, .cp-btn, .cf-btn {
    margin-bottom: 5px;
    padding: 7px 10px;
    width: 100%;
    border: none;
    border: 2px solid var(--border);
    border-radius: 25px;
    background-color: var(--bg);
    color: var(--text);
    text-transform: uppercase;
    cursor: pointer;
}

.lm-btn:hover, .dm-btn:hover, .cp-btn:hover, .cf-btn:hover {
    background-color: var(--bg-2);
}

/**/

body{
    color: var(--text);
    background-color: var(--bg-2);
    font-family: "Trebuchet MS", sans-serif;
    margin: 0;
}

#Actions>h1, .heading, .tab-heading, .lm-btn, .dm-btn, .cp-btn, .cf-btn, footer, .Worker .BuyWorker, .Upgrade .BuyUpgrade, .Worker .jobDisable, .WorkerUpgrade, .Worker .HireWorker, .upgradeName, .upgradeDesc, .TicketCard .buyTicket, #progresslist, #upgradelist, #workerList, #ticketShop, .tablinks, .ASName, .ASProgressBar, #heroDetails {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

#content, footer {
    padding: 0;
    user-select: none;
}

.game-content {
    display: flex;
    flex-wrap: wrap;
}

.game-content .status, #right-side-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: var(--bg);
}

.game-content .status {
    border-right: 1px solid var(--border);
}

#game-logo {
    margin: 0 auto;
    background-color: var(--bg);
    background-image: url('../images/site-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 90%;
    height: 150px;
}

#game-logo h1 {
    margin: 0;
    font-size: 0;
}

#side-content {
    flex-grow: 1;
    padding: 0 20px;
    overflow: auto;
}

#resources-container, #settings-container {
    position: relative;
    max-height: 1800px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    -ms-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    -moz-transition: max-height 0.3s ease-in-out;
    -webkit-transition: max-height 0.3s ease-in-out;
}

.height-collapse {
    max-height: 40px!important;
}

.heading-arrow {
    position: absolute;
    top: 4px;
    right: 2px;
    color: var(--text-3);
    font-family: monospace;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.arrow-rotate {
    transform: rotateZ(180deg);
}

#side-content .heading {
    padding: 5px 10px;
    text-align: center;
    color: var(--text);
    border-bottom: 2px solid var(--border);
    cursor: pointer;
}

#side-content .heading:first-of-type {
    margin-top: 0;
}

#resources {
    display: flex;
    flex-direction: column;
}

.resource {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2px 0;
    padding: 5px 10px;
    background-color: var(--bg-3);
    border: 2px solid var(--border);
    border-radius: 25px;
}

#right-side-content {
    border-left: 1px solid var(--border);
    height: calc(100vh - 50px);
    overflow-y: auto;
}

#right-side-content .heading {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}

#inv-header {
    position: sticky;
    top: 0;
    background: var(--bg);
    z-index: 99;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#sellPref {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 0 10px 10px;
    min-height: 30px;
}

#sellPref>p {
    margin: 0 0 5px 0;
    width: 100%;
    font-weight: bold;
}

#sell1, #sell10, #sellAll {
    background-color: var(--bg-2);
    border: 2px solid var(--border);
    color: var(--text-3);
    border-radius: 20px;
    padding: 3px 5px;
    margin: 0 3px;
    flex-grow: 1;
    cursor: pointer;
}

#sell1:hover, #sell10:hover, #sellAll:hover {
    background-color: var(--bg-3);
    border-color: var(--border-3);
}

#sell1.itemSellPrefSelected, #sell10.itemSellPrefSelected, #sellAll.itemSellPrefSelected {
    color: var(--text-2);
    border-color: var(--border-2);
}

.inventoryItem {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--border);
    flex-grow: 1;
    color: var(--text);
    font-size: 14px;
    text-decoration: none;
    padding: 10px 60px 10px 30px;
}

.inventoryItem:first-of-type {
    border-top: 1px solid var(--border);
}

.inventoryItem>img {
    display: inline-block;
    height: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.inventoryItem:hover {
    background-color: var(--bg-2);
}

.inventoryItem .inventoryCount {
    position: absolute;
    right: 10px;
    font-size: .9em;
    line-height: 25px;
    width: 50px;
    background-color: var(--bg-3);
    border: 1px solid var(--border);
    pointer-events: none;
}

#inventory .inventoryCount {
    text-align: center;
}

.game-wrapper {
    flex-grow: 1;
    height: 100%;
    max-width: calc(100% - 500px);
    max-height: calc(100vh - 50px);
    overflow-y: auto;
}

.game-content #tabs {
    display: flex;
    max-height: calc(100vh - 50px);
    border-bottom: 2px solid var(--border);
}

.tablinks {
    background-color: transparent;
    border: none;
    color: var(--text-3);
    margin: 0 0 -2px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
}

.tablinks > div {
    padding: 10px 15px;
}

.tablinks.tab-selected {
    border-color: var(--border-2);
    color: var(--highlight);
}

.tablinks.tab-selected:after {
    width: 100%;
}

.tablinks:hover {
    color: var(--highlight);
}

.tablinks:after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 2px;
    background-color: var(--highlight);
    transition: width 0.2s ease-in-out;
    -ms-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -webkit-transition: width 0.2s ease-in-out;
}

.tablinks:hover:after {
    width: 100%;
}

.tabcontent {
    animation: 0.2s fade-in;
}


/* BULLSHIT JQUERY UI */
.demoHeaders {
    margin-top: 2em;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 300px;
}

.ui-progressbar {
    width: 200px;
    height: 20px;
    padding: 0px;
    display: inline-block;
}

.ui-progressbar-value {
    background-color: #007fff;
}

.progressText {
    color: black;
    float:left;
    text-align:left;
    padding-left: 5px;
    width:100%;
}

.pbLabel {
    width: 100%;
    float: left;
    line-height: 200%;
    padding: 0px;
    line-height: 20px;
    padding-left: 2px;
}

.ui-tabs .ui-tabs-panel {
    color: var(--text);
    padding: 0;
}

.ui-widget-content a {
    color: var(--text);
    text-decoration: none;
}

.ui-tabs .ui-corner-all .ui-widget .ui-widget-content {
    padding-bottom: 100px;
}

.ui-tabs, .ui-tabs .ui-tabs-nav {
    padding: 0;
    border-radius: 0;
    border: 1px solid var(--border);
    border-left: none;
    border-right: 1px solid transparent;
    background-color: var(--bg);
}

.ui-tabs .ui-tabs-nav li {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
    color: var(--text-3);
}

.ui-tabs-nav li a:hover {
    background-color: var(--bg-2);
    color: var(--text);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active  {
    border: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    background: var(--link);
    color: var(--text-2);
}

.ui-state-default, .ui-widget-content .ui-state-default {
    background-color: var(--bg);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: var(--text);
}

.ui-widget.ui-widget-content, .ui-widget-content {
    background-color: var(--bg-2);
    border: none;
}

.ui-progressbar.ui-widget.ui-widget-content {
    background-color: var(--bg-3);
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

.ui-dialog {
    border: 1px solid var(--border)!important;
    background-color: var(--bg-2)!important;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

/* END OF JQUERY UI */

#Actions>h1 {
    margin: 10px 0;
    padding: 0 20px;
}

#ActionSlots {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 10px 0 20px;
    width: 100%;
}

.ASBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg);
    border: 2px solid var(--border);
    border-radius: 10px;
    margin: 0 4px 10px 0;
    width: 150px;
    height: 115px;
    overflow: hidden;
}

.ASProgressBar, .plProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    height: 23px;
    margin: 0;
}

.ASProgressBar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
}

.plProgressBar {
    background-color: var(--bg-2);
}

.ASProgressBar:before {
    content: attr(data-label);
    position: absolute;
    white-space: pre;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.15);
    border-radius: 15px;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0 10px;
    z-index: 2;
}

.ASProgressBar.matsNeeded:before {
    color: var(--highlight);
    font-weight: normal;
    font-size: 0.70em;
    text-transform: uppercase;
    background: none;

}

.ProgressBarFill, .plProgressBarPercent {
    display: block;
    position: relative;
    height: 100%;
    background: var(--scheme);
    background: var(--scheme-moz);
    background: var(--scheme-webkit);
    z-index: 1;
}

.plProgressBarPercent {
    z-index: 1;
}

.ASType {
    text-align: center;
    background-color: var(--bg-3);
    border-bottom: 1px solid var(--border);
    padding: 5px 20px;
}

.ASName {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    flex-grow: 1;
    padding: 5px;
    font-size: 0.9em;
    font-size: 0.9em;
    z-index: 2;
}

.ASName img {
    vertical-align: middle;
    margin: 3px 0;
}

.ASEmptyImg {
    max-height: 32px;
    opacity: 0.8;
}

.ASCancel {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    z-index: 2;
}

.ASCancel a {
    display: block;
    color: rgba(255, 0, 0, 0.5);
    text-decoration: none;
    transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.ASCancel a:hover {
    color: rgba(255, 0, 0, 1);
}

.ASCancel>a>i.tiny.material-icons {
    margin-top: 3px;
}

.pbLabel {
    padding: 3px 14px;
    color: var(--text);
}

.tab-heading {
    text-align: center;
    text-transform: uppercase;
}

.ui-widget-header {
    border: none;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-radius: 0;
}

.ui-dialog .ui-dialog-content {
    color: var(--text);
}

.ui-dialog .ui-dialog-buttonpane button {
    margin: .5em .4em .5em 0;
    cursor: pointer;
    background-color: var(--bg);
    border: 1px solid var(--border);
    color: var(--text-3);
    border-radius: 3px;
}

.ui-dialog .ui-dialog-buttonpane button:hover {
    color: var(--text);
}

.ui-draggable .ui-dialog-titlebar {
    background-color: var(--bg);
    color: var(--text-3);
}

input#importSaveText {
    background-color: var(--bg-3);
    border: 1px solid var(--border);
    color: var(--text);
}

#RecipeFilter {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg);
    padding: 0 25px 0 0;
    margin-top: 10px;
    line-height: 40px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

#RecipeFilter a.recipeSelect {
    color: var(--text);
    padding: 0 15px 0 3px;
    height: 100%;
    max-width: 40px;
    max-height: 40px;
    overflow: hidden;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    text-decoration: none;
}

#RecipeFilter a.recipeSelect.selected {
    width: auto;
    max-width: 100%;
    background-color: var(--bg-2);
    color: var(--text-2);
}

#RecipeFilter a.recipeSelect:first-of-type {
    margin-left: 0;
}

#RecipeFilter a.recipeSelect:hover {
    background-color: var(--bg-2);
    color: var(--text-2);
}

#RecipeFilter a[href*="Selector"]:before {
    display: inline-block;
    position: relative;
    content: "";
    margin-right: 5px;
    margin-bottom: 2px;
    width: 32px;
    height: 32px;
    background-image: url('images/userpics/nopic.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    vertical-align: middle;
}

#RecipeFilter a[href="MaceSelector"]:before {
    background-image: url('../images/recipeFilter/Maces32.png');
}
    
#RecipeFilter a[href="AxeSelector"]:before {
    background-image: url('../images/recipeFilter/Axes32.png');
}

#RecipeFilter a[href="SpearSelector"]:before {
    background-image: url('../images/recipeFilter/Spears32.png');
}

#RecipeFilter a[href="RodSelector"]:before {
    background-image: url('../images/recipeFilter/Rods32.png');
}

#RecipeFilter a[href="WandSelector"]:before {
    background-image: url('../images/recipeFilter/Wands32.png');
}

#RecipeFilter a[href="StaffSelector"]:before {
    background-image: url('../images/recipeFilter/Staves32.png');
}

#RecipeFilter a[href="KnifeSelector"]:before {
    background-image: url('../images/recipeFilter/Knives32.png');
}

#RecipeFilter a[href="BowSelector"]:before {
    background-image: url('../images/recipeFilter/Bows32.png');
}

#RecipeFilter a[href="WhipSelector"]:before {
    background-image: url('../images/recipeFilter/Whips32.png');
}

#RecipeFilter a[href="HelmetSelector"]:before {
    background-image: url('../images/recipeFilter/Helmets32.png');
}

#RecipeFilter a[href="HatSelector"]:before {
    background-image: url('../images/recipeFilter/Hats32.png');
}

#RecipeFilter a[href="MaskSelector"]:before {
    background-image: url('../images/recipeFilter/Masks32.png');
}

#RecipeFilter a[href="GauntletSelector"]:before {
    background-image: url('../images/recipeFilter/Gauntlets32.png');
}

#RecipeFilter a[href="GloveSelector"]:before {
    background-image: url('../images/recipeFilter/Gloves32.png');
}

#RecipeFilter a[href="ShoeSelector"]:before {
    background-image: url('../images/recipeFilter/Shoes32.png');
}

#RecipeFilter a[href="ArmorSelector"]:before {
    background-image: url('../images/recipeFilter/Armor32.png');
}

#RecipeFilter a[href="CloakSelector"]:before {
    background-image: url('../images/recipeFilter/Cloaks32.png');
}

#RecipeFilter a[href="VestSelector"]:before {
    background-image: url('../images/recipeFilter/Vests32.png');
}

#RecipeFilter a[href="ShieldSelector"]:before {
    background-image: url('../images/recipeFilter/Shields32.png');
}

#RecipeFilter a[href="WardSelector"]:before {
    background-image: url('../images/recipeFilter/Wards32.png');
}

#RecipeFilter a[href="ThrownSelector"]:before {
    background-image: url('../images/recipeFilter/Thrown32.png');
}

#RecipeFilter a[href="OffhandSelector"]:before {
    background-image: url('../images/recipeFilter/Offhand32.png');
}

#RecipeFilter a[href="TomeSelector"]:before {
    background-image: url('../images/recipeFilter/Tomes32.png');
}

#RecipeFilter a[href="DartSelector"]:before {
    background-image: url('../images/recipeFilter/Darts32.png');
}

#RecipeFilter a[href="PotionSelector"]:before {
    background-image: url('../images/recipeFilter/Potions32.png');
}

#RecipeFilter a[href="PendantSelector"]:before {
    background-image: url('../images/recipeFilter/Pendants32.png');
}

#RecipeFilter a[href="RingSelector"]:before {
    background-image: url('../images/recipeFilter/Rings32.png');
}

#RecipeFilter a[href="InstrumentSelector"]:before {
    background-image: url('../images/recipeFilter/Instruments32.png');
}

#RecipeFilter a[href="BeltSelector"]:before {
    background-image: url('../images/recipeFilter/Belts32.png');
}

#RecipeFilter a[href="EarringSelector"]:before {
    background-image: url('../images/recipeFilter/Earrings32.png');
}

.recipeTable {
    width: 100%;
}

.recipeHeader, .EHPEHeader {
    background-color: var(--bg);
    height: 40px;
    border-bottom: 1px solid var(--border);
    font-weight: bold;
}

.recipeHeader, .recipeRow, .EHPEHeader, .EHPErow {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
}

.recipeRow:nth-of-type(odd) {
    background-color: var(--bg);
}

.recipeRow:hover {
    background-color: var(--border);
}

.recipeHeadName, .recipeName, .EHPEHeaderName, .EHPEname  {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 300px;
    padding-left: 10px;
}

.recipeHeadName, .EHPEHeaderName {
    padding-left: 15px;
    max-width: 300px;
}

.recipeName, .EHPEname {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    cursor: pointer;
}

.recipeName>img, .EHPEname>img {
    margin-right: 10px;
    height: 28px;
}

.recipeName>img, .item-name {
    pointer-events: none;
}

.unlockReq {
    display: block;
    margin-bottom: 10px;
    padding: 15px 10px;
    background-color: var(--bg);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.unlockReq>i:before {
    display: inline-block;
    position: relative;
    content: "?";
    font-weight: bold;
    color: var(--text);
    margin-right: 10px;
    margin-left: 5px;
}

.recipeHeadCost, .recipeHeadTime, .recipeHeadCount, .recipeHeadValue, .recipecostdiv, .recipeTime, .recipeCount, .recipeValue, .jobHeadWorker, .jobHeadName, .jobHeadTime, .jobHeadValue, .jobWorker, .jobName, .jobTime, .jobValue {
    padding: 0 10px;
    width: 100%;
    min-width: 100px;
    max-width: 200px;
}

.recipecostdiv {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
}

.itemCost {
    display: flex;
    flex-wrap: wrap;
}

.indvCost {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    min-width: 50px;
    text-align: left;
}

.indvCost, .recipeValue {
    display: flex;
    align-items: center;
}

.bpShop {
    display: inline-flex;
    background-color: var(--bg);
    border: 1px solid var(--border);
    margin: 15px;
}

.bpShopButton {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--border);
    background-color: var(--bg-2);
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.bpShopButton:hover {
    background-color: var(--green-dark);
    border-color: var(--green-light);
}

.bpShopButton > img {
    margin-left: 5px;
}

.bpShopName {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    margin-right: 25px;
}

.bpShopName .item-name {
    margin-left: 10px;
}

#workerList, #joblist, #upgradelist, #ticketShop {
    display: flex;
    flex-wrap: wrap;
}

#workerList, #upgradelist, #progresslist, #ticketShop {
    padding: 20px;
}

.Worker, .Upgrade, .TicketCard {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    margin: 0 15px 10px 0;
    padding: 15px 15px 50px;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

.WorkerImage, .WorkerName, .upgradeName, .upgradeDesc, .TicketName{
    text-align: center;
}

.upgradeName, .upgradeLvl, .upgradeLvlDesc, .upgradeCost, .upgradeText, .WorkerDesc, .WorkerLvl, .InitialCost, .TicketName {
    font-size: .9em;
}

.upgradeName > h3 {
    margin: 10px 0;
}

.upgradeImage {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.upgradeImage > img {
    width: 100%;
}

.upgradeDesc {
    flex-grow: 1;
    font-size: .9em;
    color: var(--text-3);
    margin-bottom: 10px;
}

.WorkerDetails {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.WorkerImage {
    height: 64px;
    width: 64px;
    margin-right: 5px;
}

.WorkerNameAndProduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.WorkerName {
    display: inline-flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}

.WorkerProduction {
    display: flex;
    font-size: 0.9em;
    align-items: center;
}

.WorkerDesc {
    color: var(--text-3);
    font-weight: normal;
    margin-left: 5px;
    transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
}

.WorkerDesc:hover {
    color: var(--text);
}

.WorkerDesc > .material-icons {
    font-size: 1.1em;
    vertical-align: middle;
}

.WorkerLvl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #10442d;
    color: #11dc82;
    text-align: center;
    padding: 5px;
}

.upgradeLvl {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background: #25ca7e;
    background: -moz-linear-gradient(-145deg, #25ca7e 0%, #1aaf78 50%, #0b9077 100%);
    background: -webkit-linear-gradient(-145deg, #25ca7e 0%,#1aaf78 50%,#0b9077 100%);
    background: linear-gradient(-145deg, #25ca7e 0%,#1aaf78 50%,#0b9077 100%);
    color: var(--text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

.Worker .itemSac {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
}

.Worker .itemSac:before {
    display: block;
    position: absolute;
    top: -30px;
    content: "Required Contributions";
    padding-bottom: 3px;
    color: var(--text-3);
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.itemToSacDiv {
    position: relative;
    min-width: 20%;
    margin: 0 2px;
}

.itemToSac>img {
    height: 20px;
}

.Worker .itemToSac {
    display: inline-block;
    text-align: center;
    background-color: var(--bg-3);
    border: 1px solid var(--border);
    margin-bottom: 5px;
    padding: 10px;
    font-size: .9em;
    width: 100%;
}

.Worker .BuyWorker, .WorkerUpgrade, .Upgrade .BuyUpgrade, .Worker .HireWorker, .Worker .jobDisable, .TicketCard .buyTicket {
    display: block;
    padding: 10px;
    border: none;
    background-color: var(--bg-3);
    border-top: 1px solid var(--border);
    color: var(--text);
    font-size: 0.8em;
    text-transform: uppercase;
    cursor: pointer;
}

.Upgrade .BuyUpgrade, .WorkerUpgrade, .TicketCard .buyTicket {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 0 0 0;
    width: 100%;
}

.Worker .jobDisable {
    background-color: rgba(255, 174, 0, 0.1);
    color: #c99a00;
    cursor: not-allowed;
}

.Worker .BuyWorker {
    border-left: 1px solid var(--border);
}

.Worker .BuyWorker>img {
    margin-bottom: -2px;
    margin-right: 1px;
}

.Worker .BuyWorker:hover, .WorkerUpgrade:hover, .Upgrade .BuyUpgrade:hover, .Worker .HireWorker:hover, .TicketCard .buyTicket:hover {
    background-color: var(--bg-2);
}

.BuyWorker.workerDisable, .WorkerUpgrade.workerUpgradeDisable, .BuyUpgrade.upgradeDisable {
    color: #c90000;
    background-color: rgba(255, 0, 0, 0.10);
}

.BuyWorker.workerDisable:hover, .WorkerUpgrade.workerUpgradeDisable:hover, .BuyUpgrade.upgradeDisable:hover {
    color: #c90000;
    background-color: rgba(255, 0, 0, 0.10);
    cursor: not-allowed;
}

.workerButtons {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.workerButtons>button {
    position: relative;
    flex-grow: 1;
    min-width: 50%;
}

.jobHeadWorker {
    padding-left: 15px;
}

.jobWorker {
    display: flex;
    margin-left: 5px;
}

.jobWorker>a {
    flex-grow: 1;
    padding: 10px 0;
}

.jobRow.jobDisable {
    padding: 10px 0;
    color: #c99a00;
    background-color: rgba(255, 174, 0, 0.1);
    cursor: not-allowed;
    user-select: none;
}

#progresslist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

#progress_container {
    display: flex;
    flex-wrap: wrap;
}

#progress_container>h3 {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0 0 10px 0;
}

#progress_container>div>h2 {
    font-size: 1em;
    margin-bottom: 0;
}

.progress-desc {
    font-size: .9em;
    color: var(--text-3);
    flex-grow: 1;
}

.progressRecipe, .progressWorker, .progressUpgrade, .progressOverall {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--bg);
    border: 1px solid var(--border);
    min-width: 250px;
    max-width: 250px;
    margin: 0 15px 10px 0;
    padding: 15px 15px 30px 15px;
}

#progresslist .plProgressBar {
    display: block;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--border)!important;
    width: 100%;
    margin: 0 -15px;
}

#gameTime, #completeTime {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: .9em;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

#completeTime {
    background-color: var(--green-dark);
    border: 1px solid var(--green-light);
    color: var(--text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#achievements {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
}

#achievements>h3 {
    margin: 20px 0 0 0;
    width: 100%;
    text-align: left;
}

#achievements .ProgressCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px 10px 0;
    padding: 10px 20px;
    min-width: 125px;
    min-height: 100px;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

.TicketCard .TicketName {
    font-weight: bold;
    font-size: 1em;
}

#heroContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

#heroList {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    max-width: 250px;
    overflow: auto;
}

.dungeonTeamCard, .dungeonAvailableCard, .drHeroCard {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border: 1px solid var(--border);
    min-width: 125px;
    min-height: 128px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 1px;
}

.heroOwnedCard {
    display: flex;
    background-color: var(--bg);
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 20px;
    border-bottom: 1px solid var(--border);
}

.heroOwnedCard:hover, .dungeonTeamCard:hover, .dungeonAvailableCard:hover, .drHeroCard:hover {
    background-color: var(--bg-2);
    cursor: pointer;
}

.heroOwnedCard.highlight {
    background: var(--bg-3);
    border-bottom-color: var(--highlight);
}

.heroOwnedName {
    flex: 1;
}

#heroCard {
    display: flex;
    flex: 1;
    background-color: var(--bg);
    border-left: 1px solid var(--border);
    overflow: auto;
}

#heroDetails {
    max-width: 275px;
    overflow: auto;
}

.hero-placeholder-details {
    display: block;
    padding: 20px;
    font-size: 0.9em;
}

.heroExamineTop, .heroExamineStats {
    padding: 10px 20px;
}

.heroExamineTop, .heroExamineStats {
    flex: 1;
}

.heroExamineTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heroExamineImage {
    margin-bottom: 5px;
    padding: 10px;
    background-color: var(--bg-2);
    border: 1px solid var(--border);
}

.heroExamineName, .heroExamineHeading {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.heroExamineName:after, .heroExamineHeading:after {
    content: "";
    display: block;
    height: 2px;
    width: 75%;
    margin: 3px auto;
    background-color: var(--border);
}

.heroExamineStats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}

.heroExamineStatRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    padding: 10px 20px;
    width: 100%;
    background-color: var(--bg-3);
    font-size: 0.9em;
}

.heroExamineStatRowName {
    flex-grow: 1;
}

#heroGear {
    flex: 1;
    border-left: 1px solid var(--border);
    overflow: auto;
}

.heroExamineEquip {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.heroExamineEquipment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1 100px;
    min-height: 100px;
    background-color: var(--bg-3);
    border-bottom: 1px solid var(--border);
    cursor: pointer;
}

.heroExamineEquipmentList + .heroExamineEquipment {
    border-left: 1px solid var(--border);
}

.heroExamineEquipmentSlot {
    background-color: var(--bg-2);
    border-bottom: 1px solid var(--border);
    width: 100%;
    text-align: center;
    padding: 3px 5px;
}

.heroExamineEquipmentEquip {
    padding: 5px;
    margin: auto;
}

.heroExamineEquipmentEquip > .item-name {
    max-width: 90px;
}

.heroExamineEquipmentEquip>img {
    display: block;
    margin: auto auto 5px auto;
    height: 20px;
}

#heroEquipmentList {
    position: relative;
    width: 100%;
    background-color: var(--bg);
}

.EHPEHeader {
    background-color: var(--bg-2);
    border-top: 1px solid var(--border);
}

.EHPErow:nth-of-type(odd) {
    background-color: var(--bg-2);
}

.EHPErow:hover {
    background-color: var(--border);
}

.EHPEstat {
    margin-left: 300px;
}

#dungeon-container {
    display: flex;
    height: calc(100vh - 250px);
    overflow: hidden;
}

#dungeonLayout {
    min-width: 200px;
    padding: 20px;
    overflow: auto;
    position: sticky;
    top: 0;
}

#dungeonCloseup {
    width: 100%;
    overflow: auto;
}

.dungeonFloor {
    border-bottom: 1px solid var(--border-3);
    padding: 10px;
}

.dungeonFloor.dungeonFloorCurrent {
    background-color: var(--bg);
}

.dungeonFloor > img {
    vertical-align: text-bottom;
}

#dungeonRun {
    height: 100%;
}

#drContentWrapper {
    display: flex;
    height: 100%;
}

#drContent {
    flex-grow: 1;
    padding: 20px;
    overflow: auto;
}

#dungeonHeroList {
    display: flex;
    flex-wrap: wrap;
}

.dhc {
    padding: 20px;
    margin: 1px;
    min-width: 125px;
    max-width: 125px;
    background-color: var(--bg);
    border: 1px solid var(--border);
}

#drLog {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-3);
    padding: 20px;
    height: 100%;
    width: 100%;
    max-width: 350px;
    overflow: auto;
}

.logEntry {
    border-bottom: 1px solid var(--border-3);
    padding: 10px 5px;
}

#dtsTop, #dtsBottom, #drTop, .dungeonTeamCollection, .dungeonAvailableCollection {
    display: flex;
    flex-wrap: wrap;
}

#dtsTop, #dtsBottom, #drTop {
    flex-direction: column;
    padding: 20px;
}

#dungeonTeamButton {
    margin-top: 20px;
    padding: 10px 20px;
    align-self: start;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--green-light);
    background-color: var(--green-dark);
}

#dungeonTeamButton:hover {
    background-color: var(--green-light);
}

.hpBarDiv, .apBarDiv, .actBarDiv {
    position: relative;
    display: flex;
    align-items: center;
    height: 23px;
    margin: 2px 0;
    border: 1px solid rgb(100, 100, 100); /* default color when none is present */
}

.hpBarDiv {
    border: 1px solid rgb(134, 0, 0);
}

.hpBarDiv > img, .apBarDiv > img, .actBarDiv > img  {
    position: absolute;
    left: 2px;
    bottom: 2px;
    z-index: 1;
}

.hpBar:before, .apBar:before, .actBar:before {
    content: " " attr(data-label);
    position: absolute;
    font-size: 0.9em;
    left: 15px;
    bottom: 2px;
    white-space: pre;
    z-index: 2;
}

.hpBarFill, .apBarFill, .actBarFill {
    display: block;
    position: relative;
    height: 100%;
    background-color: rgb(75, 75, 75); /* default color when none is present */
}

.hpBarFill {
    background-color: rgb(105, 2, 2);
}

#floorProgressBarContainer {
    display: flex;
    position: relative;
    align-items: center;
    max-width: 300px;
    height: 23px;
    margin: 5px 0;
    background: var(--bg-3);
    border: 1px solid var(--border);
}

#floorProgressBarContainer > img {
    position: absolute;
    left: 5px;
    bottom: 2px;
    z-index: 2;
}

#floorProgressBar {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    margin: 0;
}

#floorProgressBar:before {
    content: " " attr(data-label);
    position: absolute;
    white-space: pre;
    font-size: 0.9em;
    left: 20px;
    bottom: 2px;
    z-index: 2;
}

#floorProgressBarFill {
    display: block;
    position: relative;
    height: 100%;
    background: var(--scheme);
    background: var(--scheme-moz);
    background: var(--scheme-webkit);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0;
    width: calc(100% - 250px);
    height: 50px;
    font-size: 14px;
    background-color: var(--bg);
    border-top: 1px solid var(--border);
    z-index: 999;
}

#bottom-left, #bottom-right {
    height: inherit;
}

footer a {
    display: inline-block;
    height: 100%;
    padding: 15px;
    color: var(--text);
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

footer a:hover {
    background-color: var(--bg-2);
}

#version-scale {
    display: inline-block;
    padding: 0 15px;
}

#bottom-right a {
    display: inline-flex;
    align-items: center;
}

#bottom-right a > i.material-icons {
    margin-left: 3px;
    font-size: 1em;
    transform: rotate(45deg);
    color: var(--text-3);
    transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
}

#bottom-right a:hover > i.material-icons {
    color: inherit;
}

footer a[href*="discord.gg"]:hover {
    background-color: #7289DA;
    color: #fff;
}


#clearSave, #exportSave, #importSave, #cloudSave {
    position: relative;
}

#clearSave {
    color: #c90000;
}

#clearSave:hover {
    background-color: #c90000;
    color: #fff;
}

#copyme {
    display: block;
    max-width: 220px;
    max-height: 30px;
    word-wrap: break-word;
}

/* Tooltips */

.tooltip:hover:before {
    display: inline-block;
    position: absolute;
    margin-top: -25px;
    right: 50%;
    margin-right: -6px;
    content: "";
    border: 8px solid transparent;
    border-bottom-color: black;
    transform: rotate(180deg);
    animation: fade-in 0.3s;
    pointer-events: none;
    z-index: 10;
}

.tooltip:hover:after {
    display: inline-block;
    position: absolute;
    left: -100%;
    right: -100%;
    bottom: 120%;
    margin-top: -4px;
    content: attr(data-tooltip);
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: .75rem;
    text-align: center;
    text-transform: none;
    word-wrap: break-word;
    padding: 5px 8px;
    animation: fade-in 0.3s; 
    pointer-events: none;
    z-index: 10;
}

.inventoryItem.tooltip:hover:after {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
    border-radius: 0;
    z-index: 2;
}

.inventoryItem.tooltip:hover:before {
    display: none;
}

.itemToSac.tooltip:hover:after {
    left: -100%;
    right: -100%;
    top: unset;
    bottom: 120%;
    z-index: 2;
}

.itemToSac.tooltip:hover:before {
    left: unset;
    right: unset;
}

.indvCost.tooltip:hover:after {
    bottom: 150%;
    top: unset;
}
.indvCost.tooltip:hover:before {
    margin-top: -12px;
    margin-right: -12px;
}

.resource.tooltip:hover:before {
    margin-top: -18px;
    right: unset;
    left: unset;
    margin-right: 0;
}

.resource.tooltip:hover:after {
    top: unset;
    bottom: 130%;
    left: 0;
    right: 50%;
    margin-top: 0;
    padding: 5px;
}

.WorkerDesc.tooltip:hover:before {
    right: unset;
    margin-top: -10px;
    margin-left: 2px;
}

.WorkerDesc.tooltip:hover:after {
    right: 5px;
    left: 5px;
    bottom: 85%;
}

.upgradeLvl.tooltip:hover:before {
    margin-top: -28px;
    margin-right: -8px;
}

.upgradeLvl.tooltip:hover:after {
    font-weight: normal;
    top: unset;
    left: -45%;
    right: -45%;
    bottom: 120%;
    margin-left: -5px;
    margin-right: -5px;
    z-index: 999;
}

.BuyWorker.tooltip:hover:after, .WorkerUpgrade.workerUpgradeDisable:hover:after, .BuyUpgrade.tooltip:hover:after {
    top: unset;
    left: -50%;
    right: -50%;
    bottom: 135%;
    max-width: 200px;
    width: 100vw;
    margin: 0 auto;
}

.jobDisable.tooltip:hover:after {
    top: unset;
    left: -50%;
    right: -50%;
    bottom: 135%;
    max-width: 100px;
    width: 100vw;
    margin: 0 auto;
}

.ProgressCard.tooltip:hover:after {
    top: unset;
    left: -10%;
    right: -10%;
    bottom: 115%;
}

/* Firefox-Specific Fixes */
@-moz-document url-prefix() { 
    .resource.tooltip:hover:before {
        margin-top: -37px;
    }

    #workerList, #upgradelist, #progresslist {
        padding: 20px 0px 20px 20px;
    }
  }

/* Playfab Dialog */

#pfLoginRegister>form>div>h2 {
    margin: 10px 0 3px 0;
    font-size: 1em;
    font-weight: normal;
}

#pfEmail>input, #pfPassword>input {
    width: 100%;
    padding: 10px 3px;
    background-color: var(--bg-2);
    color: var(--text);
    border: none;
    border: 1px solid var(--border);
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

#pfEmail:after, #pfPassword:after {
    display: block;
    position: relative;
    content: "";
    height: 2px;
    width: 0;
    background-color: var(--border-2);
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

#pfEmail:hover:after, #pfPassword:hover:after {
    width: 100%;
}

#pfButtons, #pfImportExport {
    display: flex;
    justify-content: center;
}

#pfButtons>input, #pfImportExport>input, #pfLoadButtons>input {
    margin-top: 10px;
    padding: 10px 25px;
    flex-grow: 1;
    text-transform: uppercase;
    background-color: var(--bg-3);
    color: var(--text);
    border: 1px solid var(--border);
    border-radius: 0;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

#pfButtons>input:hover, #pfImportExport>input:hover, #pfLoadButtons>input:hover {
    background-color: var(--bg-2);
}

#pfButtons>input:first-of-type, #pfImportExport>input:first-of-type {
    margin-right: 10px;
}

#pfImportExport {
    flex-wrap: wrap;
}

#pfSaveStatus {
    width: 100%;
}

/* Flex Tables */

#flex-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid var(--border);
    text-align: center;
}

#flex-table .table-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#flex-table .table-row:nth-of-type(odd) {
    background-color: var(--bg-2);
}

#flex-table .table-row.header-row {
    background: var(--border);
    color: var(--text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
}

#flex-table .table-row>div {
    flex-grow: 1;
    max-width: 50%;
    padding: 3px 5px;
}

/* Dialogs */

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

a.workerDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: var(--border);
    color: var(--text-2);
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
}

a.workerDialog:hover {
    background: var(--blue-light);
}

.dialog:target {
    opacity: 1;
    pointer-events: auto;
}

.dialog_content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 400px;
    background-color: var(--bg);
    border: 1px solid var(--border);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    -o-box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
}

.dialog_header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.dialog_close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 5px;
    color: var(--text-2);
    font-size: 32px;
    text-decoration: none;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

.dialog_close:hover {
    background-color: rgba(255,255,255,0.1);
}

.dialog_title {
    margin: 0;
    padding: 10px;
    background: var(--blue-light);
    color: var(--text-2);
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.dialog_body {
    padding: 20px;
    max-height: 100%;
    overflow: auto;
}

.dialog_description {
    margin: 50px 0 15px 0;
    text-align: center;
}

.dialog_description>em {
    font-style: normal;
    font-weight: bold;
}

/* Animation Keyframes */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Hide content while retaining the content's effects on elements, such as, its width and height. */
.hidden {
    visibility: hidden;
}

/* Hide content completely, removing both the content and its effect on elements */
.none {
    display: none;
}

@media screen and (min-width: 1120px) and (max-width: 1360px) {
    #ActionSlots {
        padding: 5px 5px 0 5px;
        justify-content: center;
    }

    .ASBlock {
        margin: 0 1px 3px 1px;
    }
}

@media screen and (max-width: 1100px) {

    /*Disable small screens */
    main {display: none;}

    body:after {
        content: "Sorry, this game is not available on a viewport of this size. Please try a device with a larger screen.";
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 25px;
        background: var(--scheme);
        background: var(--scheme-moz);
        background: var(--scheme-webkit);
        font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        text-shadow: 0 0 5px rgba(0,0,0,0.5);
        border-top: 3px solid var(--highlight);
        z-index: 9999;
    }

    .game-content {
        flex-direction: column;
    }

    .game-content .status, #right-side-content {
        width: 100%;
        height: auto;
    }

    .game-content .status {
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;
        z-index: 2;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
        -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
        -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
        -o-box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10);
    }

    #selection {
        position: absolute;
        top: 0;
        right: 0;
    }

    .lm-btn, .dm-btn {
        border: none;
        border-radius: 0;
        height: 50px;
    }

    #view-selection {
        display: none;
    }

    #right-side-content {
        margin-bottom: 50px;
        z-index: 2;
        box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.10);
        -webkit-box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.10);
        -moz-box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.10);
        -o-box-shadow: 0 -5px 5px 0 rgba(0,0,0,0.10);
    }

    #game-logo {
        height: 32px;
        background-position: 15px center;
        background-size: contain;
        margin: 10px 0;
    }

    #side-content {
        border-top: 1px solid var(--border);
        padding: 0;
        overflow: auto;
    }

    #resources-container {
        display: flex;
        text-align: center;
        padding: 10px;
        max-height: 100px;
        overflow: auto;
        z-index: 99;
    }

    #settings-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #side-content .tooltip:hover:after, #side-content .tooltip:hover:before {
        display: none;
    }

    #side-content .heading {
        display: none;
    }

    #side-content>div>div {
        margin: 0 5px;
    }

    #side-content .resource {
        margin: 0 5px;
    }

    #side-content .resource>span {
        white-space: nowrap;
    }

    #herbResource {
        position: relative;
    }

    #herbResource:after {
        position: absolute;
        display: inline-block;
        top: 0;
        right: -20px;
        bottom: 0;
        content: "";
        background: transparent;
        width: 1px;
        pointer-events: none;
    }

    .game-content .game-wrapper {
        max-width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--border);
    }

    #Actions>h1 {
        margin: 15px 0 0;
    }

    #workerList, #joblist, #upgradelist, #progress_container {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        margin-right: 20px;
    }

    .Worker, .Upgrade, .progressRecipe, .progressWorker, .progressUpgrade, .progressOverall {
        margin: 10px;
    }

    #progress_container>h3 {
        display: none;
        text-align: center;
    }

    #gameTime, #completeTime {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        width: 100%;
        min-width: 250px;
    }

    #achievements {
        justify-content: center;
    }

    #achievements > h3 {
        text-align: center;
    }

    #ASTable::-webkit-scrollbar, .ui-tabs-nav::-webkit-scrollbar, #RecipeFilter::-webkit-scrollbar, #side-content::-webkit-scrollbar, #resources-container::-webkit-scrollbar, #workerList::-webkit-scrollbar, #joblist::-webkit-scrollbar, #upgradelist::-webkit-scrollbar, #progress_container::-webkit-scrollbar {
        height: 0;
        width: 0;
    }

    #ASTable {
        flex-wrap: nowrap;
        justify-content: flex-start;
        position: relative;
        overflow-x: auto;
        margin: 0;
    }

    .ui-tabs-nav {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
    }

    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
        display: flex;
        padding: 10px 12px;
    }

    #RecipeFilter {
        padding: 0;
        overflow: auto;
        flex-wrap: nowrap;
    }

    #RecipeFilter a.recipeSelect,  #RecipeFilter a.recipeSelect.selected {
        min-width: 40px;
        max-width: 40px;
        max-height: 40px;
        border-bottom: none;
    }

    .recipeHeader {
        display: none;
    }
    
    .recipeRow {
        position: relative;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--border);
    }
    
    .recipeName {
        display: flex;
        align-items: baseline;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .recipeName>img {
        margin-left: 10px;
    }
    
    .recipeName>a {
        flex-grow: unset;
        width: 100%;
        height: 100%;
        padding-left: 30px;
        margin-left: -30px;
    }

    .recipeHeadCost, .recipeHeadTime, .recipeHeadCount, .recipeHeadValue, .recipecostdiv, .recipeTime, .recipeCount, .recipeValue {
        padding: 0;
        width: 100%;
        min-width: 100px;
        max-width: 120px;
        text-align: center;
    }
    
    .recipecostdiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        max-width: 200px;
        margin-bottom: 5px;
        margin-left: 45%;
        margin: 10px 0 5px 45%;
    }

    .indvCost.tooltip:hover:after {
        margin-top: -15px;
        right: 0;
        bottom: 150%;
        top: unset;
    }
    .indvCost.tooltip:hover:before {
        margin-top: -10px;
        margin-right: -12px;
    }

    .recipeTime:before, .recipeCount:before, .recipeValue:before {
        display: inline-block;
        position: relative;
        margin-right: 5px;
        margin-top: 15px;
        margin: 10px 5px 10px 0;
        pointer-events: none;
    }

    .recipeTime:before {
        content: "Time:";
    }

    .recipeCount:before {
        content: "Count:";
    }

    .recipeValue:before {
        content: "Value:";
    }

    footer {
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        z-index: 3;
    }

    footer .tooltip:hover:before, footer .tooltip:hover:after {
        display: none;
    }

    footer a {
        max-width: 65px;
        padding: 5px;
    }

    #bottom-left, #bottom-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bottom-right a {
        display: none;
    }
}
